body {
    text-align: center;
    width: 100%;
}

.redes {
    display: none;
}

.banner_section {
    padding: 0;
}

.banner-titulo {
    text-shadow: 1px 1px 1px rgb(233, 233, 233);
    margin-top: 40px;
}

.contact_bt {
    margin: 0.5rem;
}

.btn_main {
    margin-left: 70px;
    padding: 0;
}

.contact_bt.active a {
    margin: 0;
}

.about_img {
    width: 100%;
    margin-bottom: 100px;
}

.about_text {
    margin: 1rem;
}

.btn {
    margin-top: 10px;
}


.gallery_box {

    margin-bottom: 80px;
}

.reseñas-lista,
.reseña-item {
    display: flex;
    flex-direction: column;
}

.custom_row {
    display: flex;
    flex-direction: column;
}

.lorem_text {
    margin-left: 70px;
    margin-bottom: 30px;

}


.carrito-modal {
    position: fixed;
    bottom: 90px;
    left: 20px;
    padding: 15px;
    max-width: 250px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
    display: none;
}